
<!doctype html>
<html lang="ru">
<head>
	<title>My app</title>
	<meta charset="utf-8">
	<link rel="stylesheet" href="/style.css">
</head>
<body>
	<div id="app" class="body-wrapper">
		<h1>Социальные сети</h1>
		<div class="card-wrapper">
			<div v-for="card in cardsData" class="card">
				<a class="title" :href="card.title.link" target="_blank">
					{{ card.title.text }}
				</a>
				<div class="card-content-wrapper">
					<div class="info-wrapper">
						<div class="area">
							<span>
								{{ card.area }}
							</span>
						</div>
						<div class="information">
							{{ card.information }}
						</div>
					</div>
					<div class="rubrics">
						<span v-for="rubric in card.rubrics">{{ rubric }}</span>
					</div>
				</div>
				<div class="specialities">
					{{ card.specialities }}
				</div>
			</div>
		</div>
		<div id="footer" class="footer flex-column">
			<div class="flex-row footer-info">
				<div class="flex-column footer-list">
					<span>Полезная информация из подвала</span>
					<span>у котиков по четыре лапки и по одному хвостику</span>
					<span>У попугайчиков по две лапки и по два крылышка</span>
				</div>
				<div class="flex-column footer-list">
					<span>Помощь</span>
					<span>Условия обслуживания</span>
					<span>Конфиденциальность</span>
					<span>Безопасность</span>
				</div>
				<div class="flex-row">
					<div class="sign-up">
						Залогиниться
					</div>
				</div>
			</div>
		</div>
	</div>
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
	<script src="/script.js"></script>
</body>
</html>
